#app {
  font-family: Roboto, sans-serif;
  text-align: center;
  margin-top: 20px;
}

.container-wrapper {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.set-currency {
  display: flex;
  justify-content: space-between;
  align-items: center;
  input {
    width: 40px;
    margin-left: 10px;
  }
  button {
    transition: all 0.3s ease;
    color: #fff;
    border-radius: 5px;
    background: #ec6d2d;
    min-height: 39px;
    padding: 11px 20px 13px;
    border: 0;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    &:hover {
      transition: all 0.3s ease;
      cursor: pointer;
      background: #eb5910;
    }
  }
}

.timerUpdateCurrency {
  text-align: left;
  color: #a7a7a7;
  font-size: 14px;
  span {
    font-size: 16px;
    font-weight: 500;
  }
}

.catalog {
  display: flex;
  flex-direction: column;
  align-content: center;
  &-categorie {
    // border: 1px solid #000;
    border-radius: 5px;
    margin: 20px 0;
    h2 {
      background: #ec6d2d;
      color: #fff;
      margin: 0;
      padding: 20px;
      border-radius: 5px 5px 0 0;
      margin-bottom: 20px;
    }
  }
}
.item-product {
  transition: all 0.3s ease;
  margin-bottom: 5px;
  border: 1px solid #000;
  /* border-bottom: 1px solid #000; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-radius: 5px;
  .item-name {
    max-width: 80%;
    width: 100%;
    text-align: left;
  }
  .item-price {
    font-weight: bold;
  }
  &.red {
    background: rgba(255, 0, 0, 0.472);
    color: #fff;
  }
  &.green {
    background: rgba(0, 128, 0, 0.472);
    color: #fff;
  }
  &:last-child {
    // border-bottom: none;
    margin-bottom: 0px;
  }
  &:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    background: rgba(182, 182, 182, 0.698);
    color: #fff;
  }
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  font-size: 18px;
  div {
    max-width: 20%;
    width: 100%;
    color: #a7a7a7;
    &:first-child {
      text-align: left;
      max-width: 40%;
    }
  }
}

.item-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  border-top: 1px solid rgb(100, 100, 100);
  .item-name {
    max-width: 40%;
    text-align: left;
    width: 100%;
    font-size: 14px;
  }
  .item-quantity {
    max-width: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      &.item-quantity-number {
        font-size: 16px;
        font-weight: bold;
        background-color: #ebebeb;
        border: 0;
        border-radius: 0;
        padding-left: 5px;
        padding-right: 5px;
        margin: 0;
        height: 32px;
        width: 40px;
      }
      &.item-quantity-sim {
        font-size: 28px;
        margin: 0;
        padding: 0;
        width: 32px;
        height: 32px;
        background-color: #999;
        &:hover {
          transition: all 0.3s ease;
          cursor: pointer;
          background-color: rgb(109, 109, 109);
        }
      }
    }
  }
  .item-price {
    max-width: 20%;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
  }
  button {
    transition: all 0.3s ease;
    max-width: 20%;
    width: 100%;
    background: transparent;
    border: none;
    text-align: right;
    outline: none;
    &:hover {
      transition: all 0.3s ease;
      cursor: pointer;
      color: #ec6d2d;
    }
  }
}

.cartTotalPrice {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  p {
    &:first-child {
      margin-right: 10px;
      font-size: 14px;
      color: #a7a7a7;
    }
    &:last-child {
      font-size: 16px;
      color: #ec6d2d;
      font-weight: bold;
    }
  }
}
